{% extends 'base.html' %}

{% block title %}
Формирование нового бюджета
{% endblock %}

{% block body %}
<div class="container">
    <div>
        <h5>При формировании нового бюджета история транзакций и инвестиции очищаются.</h5>
        <h5>Все средства с баланса также сбрасываются.</h5>
        <form method="post">
            <input type="submit" value="Сформировать новый бюджет">
        </form>
    </div>
    <a href="/" class="btn btn-primary rounded-pill px-5" tabindex="-1" role="button" aria-disabled="true">Вернуться на главную</a>
</div>
{% endblock %}